body
{
    background-color: rgb(198, 239, 183);
}
.intro
{
    text-align: center;
}
.row
{
    display: flex;
    flex-direction: row;
    background-color: rgb(26, 145, 26);
    text-align:center;
}
.row > div{
    background-color: rgb(248, 248, 58);
    width: 50px;
    height:50px;
    margin: 10px;
    font-size: 40px;
}
.column
{
    display: flex;
    flex-direction: column;
    background-color: rgb(37, 147, 37);
    text-align:center;
}
.column > div{
    background-color: rgb(248, 248, 58);
    width: 50px;
    height:50px;
    margin: 10px;
    font-size: 40px;
}