.intro
{
    text-align: center;
    width: 50%;
    background-color: cadetblue;
    border-radius:15px;
    padding: 20px; 
    margin: 20px auto; 
}
.container
{
    width: 50%;
    background-color: aquamarine;
    margin: 20px auto;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    gap: 25px;
    justify-content: center;
    gap: 25px;
    margin-top: 10px;
}
.click
{
    display: block;
    width:300px;
    height:100px;
    background-color: lawngreen;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}
.click:hover
{
    background-color: lightgreen;
}
.link
{
    text-align: center;
    display:block;
    width:300px;
    height:100px;
    background-color: lawngreen;
    margin: 20px auto;
    padding: 20px;
    margin-bottom: 20px;
}
.link:active
{
    background-color: green;
}